.visually-hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
a {
  display: inline-block;
}

.section {
  padding: 48px 0;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
}
