@keyframes rotateStar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-us-cards {
  &__icon-Star-1 {
    position: absolute;
    fill: var(--color-brand-dark);
    transition: transform 0.5s ease-in-out;
    top: 454px;
    left: 283px;
    width: 40px;
    height: 40px;
    @media screen and (min-width: $--bp-tablet) {
      top: 450px;
      left: 570px;
      width: 64px;
      height: 64px;
    }
    @media screen and (min-width: $--bp-desktop) {
      top: 336px;
      left: 858px;
      width: 64px;
      height: 64px;
    }
  }
  &__icon-Star-2 {
    position: absolute;
    fill: var(--color-brand-light);
    top: 32px;
    right: -2px;
    transition: transform 0.5s ease-in-out;
    display: none;
    @media screen and (min-width: $--bp-tablet) {
      display: block;
    }
  }
  &__icon-Star-3 {
    position: absolute;
    top: 270px;
    right: 6px;
    fill: var(--color-copyright);
    transition: transform 0.5s ease-in-out;
    display: none;
    @media screen and (min-width: $--bp-tablet) {
      display: block;
    }
  }
  &__icon-Star-1:hover,
  &__icon-Star-2:hover,
  &__icon-Star-3:hover {
    fill: var(--color-brand-light);
    transform: scale(1.2);
    animation: rotateStar 1s infinite linear;
  }
  &__about-image-border {
    max-width: 328px;
    border-radius: 50%;
    object-fit: cover;
    display: none;
    @media screen and (min-width: $--bp-tablet) {
      display: block;
    }
  }
  &__image-one {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(737px, 0);
    display: none;
    @media screen and (min-width: $--bp-tablet) {
      display: block;
    }
  }
  &__image-two {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(913px, 327px);
    display: none;
    @media screen and (min-width: $--bp-tablet) {
      display: block;
    }
  }
}
