.link {
  &__footer-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
  }
  &__footer-link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
  }
  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    font-style: normal;
  }
  &__address-link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
  }
  &__address-copyright {
    color: var(--color-copyright);
    font-size: 13px;
    line-height: 1.2;
  }
}
