.about-us-section {
  padding-bottom: 0px;
  @media screen and (min-width: $--bp-tablet) {
    padding-bottom: 176px;
  }
  &__title {
    max-width: 264px;
    margin-bottom: 24px;
    color: var(--color-brand-light);
    font-family: "play", sans-serif;
    font-size: 32px;
    @media screen and (min-width: $--bp-desktop) {
      font-size: 64px;
      max-width: 529px;
      margin-bottom: 40px;
    }
  }
  &__container {
    position: relative;
    max-width: 1240px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    @media screen and (min-width: $--bp-tablet) {
      display: flex;
    }
  }
  &__image {
    flex-basis: 499px;
    width: 100%; /* Забезпечуємо рівність по ширині */
    height: auto; /* Забезпечуємо рівність по висоті */
  }
  &__text {
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 16px;
    @media screen and (min-width: $--bp-desktop) {
      margin-bottom: 40px;
      font-size: 22px;
    }
  }
}
