.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal-section {
  display: flex;
  align-items: center;
  justify-content: center;
  &__modal {
    padding: 42px 48px;
    position: relative;
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 760px;
    background-color: var(--color-brand-dark);
    background-image: url("../images/background-window.png");
    border-radius: 32px;
    overflow-y: auto;
    @media screen and (min-width: $--bp-tablet) {
      padding: 42px 144px;
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/background-window@2x.png");
      }
    }
  }
  &__form-name {
    color: #ffffff;
    text-align: center;
    font-family: "play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__form-text {
    color: #ffffff;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;
  }
  &__form-text span {
    color: var(--color-brand-light);
  }
  &__form-button {
    padding-top: 32px;
    margin: 0 auto;
    text-align: center;
  }
  &__modalBtnClose {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &__close-button {
    top: 40px;
    right: 40px;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  &__close-button::before,
  &__close-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: var(--color-primary-light);
  }
  &__close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &__close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
